<div id="sidebar" class="d-flex flex-column position-fixed p-3 bg-dark col-2 h-100">

    
    <ul class="nav nav-pills flex-column mb-auto">
        <% for (var i = 0; i<pageName.length; i++) { %>
            <li class="nav-item"><a href="<%= pageName[i] %>" class="nav-link "><%= pageName[i] %></a></li>


            <% } %>
        
    </ul>
</div>